<form>
<mat-card>
    <mat-card-header>
      <mat-card-title>Sign up Sample application, Develop by Mahadev Chaurasiya</mat-card-title>
      <mat-card-subtitle>UI, Angular 16</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <mat-form-field class="mat-40">
        <mat-label>First Name</mat-label>
        <input matInput #fName>
        <mat-hint align="start">As Per Goverment ID Proof</mat-hint>
        <mat-hint align="end">{{fName.value.length}}/ 10</mat-hint>
      </mat-form-field>

      <mat-form-field class="mat-40">
        <mat-label>Last Name</mat-label>
        <input matInput #lName>
        <mat-hint align="start">As per Goverment ID Proof</mat-hint>
        <mat-hint align="end">{{lName.value.length}}/10</mat-hint>
      </mat-form-field>

      <mat-form-field class="mat-40">
        <mat-label>Email</mat-label>
        <input matInput type="email" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
        <mat-hint align="start">Please enter correct Email ID</mat-hint>
      </mat-form-field>

      <mat-form-field class="mat-40">
        <mat-label>Contact Number</mat-label>
        <input matInput type="tel" >
        <mat-hint align="start">Including Country Code</mat-hint>
      </mat-form-field>

      <div>
        <mat-form-field class="mat-40">
          <mat-label>DOB</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-hint align="start">dd/MM/yyyy</mat-hint>
        </mat-form-field>

        <mat-radio-group color="primary">
          <mat-radio-button value="Male">Male</mat-radio-button>
          <mat-radio-button value="Female">Female</mat-radio-button>
        </mat-radio-group>
      </div>

      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput>
        <mat-hint>Permanet Address as per Govt ID Proof</mat-hint>
      </mat-form-field>

      <mat-form-field class="mat-40">
        <mat-select placeholder="Please select">
          <mat-option *ngFor="let city of cityList" [value]="city">
            {{city}}
          </mat-option>
        </mat-select>
        <mat-hint>Please select City</mat-hint>
      </mat-form-field>

      <mat-form-field class="mat-40">
        <mat-select placeholder="Please select">
          <mat-option *ngFor="let state of stateList" value="state">
            {{state}}
          </mat-option>
        </mat-select>
        <mat-hint>Please select State</mat-hint>
      </mat-form-field>

      <mat-form-field class="mat-40">
        <mat-label>Pin Code</mat-label>
        <input matInput type="number">
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Fevorit Places" [formControl]="placess" multiple>
          <mat-select-trigger> 
            {{placess.value ? placess.value[0] : ''}}
            <span *ngIf="placess.value?.length > 1" class="example-additional-selection">
              (+{{placess.value.length - 1}} {{placess.value?.length === 2 ? 'other' : 'others'}})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let placess of fevoritPlaceList" [value]="placess">{{placess}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-checkbox color="warn">I agree for self declaration</mat-checkbox>

    </mat-card-content>

    <mat-card-footer>
      <div>
        <button mat-raised-button color="primary">Submit</button>
        <button mat-raised-button color="warn">Clear</button>
      </div>
    </mat-card-footer>
  </mat-card>
</form>